
   .container {
    padding-top: 1rem !important;
    height: 60vh;
   }
   
   .slider_container1 {
    overflow-x: hidden; 
    height: 300px;
    
   
  } 

   .slider1 {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    height: 300px;
  } 

  .title-articlePop {
    display: flex;
    justify-content: center;
    font-weight: 800;
    margin: 4rem 0 4rem;
    font-size: 30px;
  }

  .cardContainer {
    background: #D0E0EB;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    /* border: 1px solid gray; */
    border-radius: 10px;

    cursor: pointer;
    transform: scale(1, 1);
    transition: transform 0.5s ease;
    color: #324d67;
}

.cardContainer:hover{
  transform: scale(1.1,1.1)
}
  
  .cardImg {
    width: 200px;
    height: 21vh;
    /* object-fit: cover; */
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

  }
  
  .ContentDiv {
    width: 90%;
    height: 8vh;
    color: black;
  }

  .ContentDiv h5 {
    font-size: 18px;
  }
    
  .buttonContainer {
    align-self: flex-end;
    
  }
  .buttonStyle1 {
      width: 7em;
      height: auto;
      padding: 0.5em;
      border-radius: 7px;
      background-color: var(--color-black2);
      text-decoration: none;
  }

  .buttonStyle1 span{
    font-size: 17px;
  }

  .custonspan {
    color: white;
    margin: 0;
  }
    
  

  



