
   .slider_container1 {
    overflow-x: hidden; 
    height: 250px;
   
  } 

   .slider1 {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    height: 250px;
  } 

  .title-articlePop {
    display: flex;
    justify-content: center;
    font-weight: 800;
    margin: 4rem 0 4rem;
    font-size: 30px;
  }

  .cardContainer {
    background: #D0E0EB;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    /* border: 1px solid gray; */
    border-radius: 10px;
}
  
  
  .cardImg {
    width: 200px;
    height: 60vh;
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

  }
  
  .ContentDiv {
    width: 100%;
    height: 27vh;
  }
    
  .buttonContainer {
    align-self: flex-end;
    
  }
  .buttonStyle1 {
      width: 7em;
      height: auto;
      padding: 0.5em;
      border-radius: 7px;
      background-color: var(--color-black2);
      text-decoration: none;
  }

  .custonspan {
    color: white;
    margin: 0;
  }
    
  

  



