.itemCarousel {
    min-width: 132px;
    height: auto;
    background-color:var(--color-secundario);
    overflow-x: hidden;
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 25px;
}

.carouselLi {
    list-style: none;
    font-weight: bold;
    color: var(--color-primario);
}

