.contenedor-carousel { 
    margin: 20px;
    overflow-x: hidden;
   
  }
  
  .slider_container {
    overflow-x: hidden; 
   
  }

  .slider {
    display: flex;
    cursor: grab; 
    
    
  }
  
  .cont-item {
    height: 70px;
    min-width: 132px;
    overflow-x: hidden;
    background-color: #c1c0c0;
    margin: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .cont-item .p{
    cursor: pointer !important;
  }
  
  .cont-item .p, .cont-item a {
    text-align: center;
    pointer-events: none;
    align-items: center;
  }
  
  
  /* NO CAROUSEL */
  
  .title-cat {
      display: flex;
      justify-content: center;
      font-weight: 800;
      margin: 2rem 0 5rem;
      font-size: 30px;
    }

  .contenedor-NoCarousel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    gap: 34px 0px; 
    grid-template-areas:
      ". . ."
      ". . ."
      ". . .";
    justify-items: center;
    margin-inline: 10rem;

  }
  
  .contenedor-NoCarousel .item{
    border-style: none;
    width: 26rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    font-weight: 400;
  }
  
  .contenedor-NoCarousel .p, .contenedor-NoCarousel a {
    font-size: 30px;
    color: var(--color-black);
    line-height: 50px;
  }
  

  /* 

   MEDIASQUERIES
  
  */


/* Jotop: Acordarme de ver esto con la compi, 
si lo comento el carosuel mio se ve en pantallas grandes
pero no en version movil */

  @media (min-width: 1059px) {
    .slider_container{
        display: none;
    }
}

@media (max-width: 1059px) {
    .contenedor-NoCarousel{
        display: none;
    }
}
 
