
.imgCont {
    width: 100%;
    height: 35vh;
    background-color: var(--color-secundario);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    
}

.buttonsContainer {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: end;
    padding-top: 5px;
}

.imgText {
    width: 52%;
    height: 45px;
    text-align: start;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--color-primario);
    outline: none;
    resize: none;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
}

 img {
    width: 100%;
    height: 240px;
} 

.inputError {
    width: 70%;
    height: 45px;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--color-primario); 
    transition: all 1s ease-out;    
   }

.inputZ {
    z-index: 100;
}


/* .botonSubirImagen {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    border: none;
    background-color: black;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: bold;
    color: var(--color-primario);
} */

.upload {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upload i {
    font-size: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upload p {
    color: rgb(197, 194, 194);
    font-size: 1.5em;

}

input img {
    width: 100%;
    height: auto;
}
.selected {
    width: 100%;
    height: 300px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.section {
    width: 30%;
    height: 5vh;
    border: 1px solid rgb(197, 194, 194);
    border-radius: 5px;
    font-weight: bold;
}

.seleccioneCat {
    color: var(--color-black);
}

.textArea {
    width: 100%;
    height: 300px;
    border: 1px solid rgb(197, 194, 194);
    border-radius: 5px;
    margin-top: 20px;

}

.agregarSeccion {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 130px;
    border: none;
    margin-bottom: 40px;
}

.agregarSeccion p {
    color: rgb(197, 194, 194);;
}

.agregarIcon {
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(197, 194, 194);
}

.botonPublicar {
    border: none;
    background-color: var(--color-secundario);
    padding: 5px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}
.botonCancelar {
    border: none;
    background-color: transparent !important;
    padding: 5px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: bold;
    color: var(--color-black2);
}

.buttonIcon {
    border: none;
    background-color: transparent;
}



.inputError1{
    width: 70%;
    height: 45px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: bold;
    transition: all 1s ease-out; 
}

.circleIcon {
    border: none;
    font-size: 25px;
    color: var(--color-primario);
    transition: all 1s ease-out; 
    
}

  .inputError::placeholder {
    color: rgba(240, 234, 234, 0.26); 
    text-align: center;
  }

  input::placeholder {
    color: rgba(240, 234, 234, 0.473); 

  }

  .categoryError {
    display: flex;
    align-items: center;
  }

  .selectedTitle {
    display: flex;
    align-items: center;
  }

 .borderText {
    border: 1px solid var(--color-primario);
    transition: all 1s ease-out; 
 }