.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 6.4rem;
  background-color: var(--color-white);
}

/* Menu Mobile */
.link, .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__menu--burger, .nav__search {
  font-size: 2rem;
  background-color: none;
}
.nav-menu {
  background-color: var(--color-acento2);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}
.nav-menu.active {
  left: 0;
  transition: 350ms;
  z-index: 1;
}
.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.8rem 0rem 0.8rem 0.8rem;
  list-style: none;
  height: 6rem;
}
.nav-text a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: var(--font-weight-semiBold);
  color: var(--color-black);
  width: 98%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1.6rem;
  border-radius: 0.2rem;
}
.nav-text_CrearArticulo {
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8rem 1.6rem;
  margin: 0 auto 1.6rem auto;
  gap: 0.8rem;
  width: 85%;
  height: 4rem;
  border-radius: 2rem;
}
.nav-text_CrearArticulo a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: var(--font-weight-semiBold);
  color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-text_CrearArticulo a svg {
  color: var(--color-white);
  margin-left: 5rem;
  font-size: 2rem;
}
.nav-text a:hover {
  background-color: var(--color-acento);
}
.nav-menu-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}
.navbar-toggle {
  background-color: var(--color-acento2);
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 2rem;
}
span {
  margin-left: 1.6rem;
}

/* Logo */
.nav__logo {
  width: 10rem;
  margin: 1.5rem;
}

/* Contenedor elementos desktop */
.nav_container--rigth{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

/* Boton Crear Articulo */
.btnCrearArticulo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12.6rem;
  height: 3.6rem;
  font-family: 'Urbanist';
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.9rem;
  padding: 0.8rem;
  gap: 1.6rem;
  border-radius: 0.3rem;
  text-decoration: none;
  background-color: var(--color-black);
  color: var(--color-white);
}

/* Boton Sobre Nosotros */
.btnSobreNosotros {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem;
  height: 1.9rem;
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;
  padding: 0.8rem;
  gap: 1.6rem;
  text-decoration: none;
  color: var(--color-black);
}

/* Versión Tablet */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .nav_container--rigth {
    width: 60%;
  }
  .btnCrearArticulo{
    height: 2.8rem;
    font-size: 1rem;
  }
  .btnSobreNosotros{
    font-size: 1rem;
  }
}
/* Versión Desktop */
@media only screen and (min-width: 1024px) {
  .nav_container--rigth {
    width: 60%;
  }
}

